@font-face {
    font-family: "industry2";
    font-weight: bold;
    font-style: italic;
    src: url(fonts/industryUltraItalic.ttf);
}

@font-face {
    font-family: industry;
    font-weight: bold;
    src: url(fonts/industryUltra.ttf);
}

@font-face {
    font-family: industry;
    src: url(fonts/industry.ttf);
}

@font-face {
    font-family: industry;
    font-weight: thin;
    src: url(fonts/industryThin.ttf);
}

@font-face {
    font-family: industry;
    font-weight: thin;
    src: url(fonts/industryThinItalic.ttf);
}

:root {
    --near-black: #222;
    --off-black: #444;
    --near-white: #DDD;
    --off-white: #BBB;
    --ntt-blue: #07C;
    --indy-red: #D22;
    --dark-blue: #047;

    --quick-in: cubic-bezier(0, 0.75, 0.25, 1);
}

html {
    font-family: "Atkinson Hyperlegible", Industry, sans-serif;

    scroll-behavior: smooth;
    scroll-padding-top: 18vh;

    max-width: 100%;
    overflow-x: hidden;

    background-color: var(--near-white);
    color: var(--near-black);
}

/* Import after so users who need font get it, but later can be used for all users. */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

a {
    text-decoration: none;
}

#home {
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 6em;
    width: 100vw;
}

nav {
    height: 6em;
    width: 100vw;

    background-color: white;
    color: var(--near-black);

    position: fixed;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: row;
    z-index: 100;
}

#siteLogo {
    width: 115px;
    height: 124px;
    padding-left: 10vw;
    padding-right: 2.5vw;
    padding-top: 1vh;
}

#navList {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navButton {
    padding: 1vw;
    font-size: 1.5em;
    font-weight: 800;
    color: var(--ntt-blue);
    text-transform: uppercase;

    background: linear-gradient(90deg, rgba(0,119,204,1) 0%, rgba(0,119,204,1) 49.9%, rgba(221,221,221,0) 50.1%, rgba(221,221,221,0) 100%);
    background-size: 350%;
    background-position: right;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 1s var(--quick-in);
}

.navButton:hover {
    font-weight: 1000;
    font-size: 1.6em;
    color: white;

    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: calc(1vw - 0.1em);
    padding-bottom: calc(1vw - 0.1em);

    background-position: left;
}

#navLive {
    display: flex;
    font-weight: 1000;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.navLiveSpot {
    padding-left: 1em;
    display: flex;
    flex-direction: row;
}

.navLiveSpot > * {
    padding: 0.25em;
}

.navLiveDetails {
    color: #444;
    font-weight: normal;
}

#introSec {
    position: absolute;
    width: 100vw;
    height: 80vh;
    left: 0;

    background-position: center;
    background-size: cover;
    padding-top: 6em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

#introFirTitle {
    margin-bottom: -11.5vh;
    padding-left: 5vw;
    color: var(--near-black);
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 1000;
    line-height: 1.5em;
}

#introSecTitle {
    height: 12vh;
    width: 100vw;
    padding-left: 5vw;
    margin-bottom: -5vh;

    background-color: var(--ntt-blue);
    color: var(--near-white);
    font-size: 6em;
    line-height: 0.7em;
    font-weight: 1000;
    text-transform: uppercase;
}

#articleSecTitle {
    position: absolute;
    top: 100vh;
    left: 5vw;
    display: flex;
    align-items: center;

    width: calc(90vw - 2em);
    height: 10vh;
    padding-left: 1em;

    font-size: 3em;
    font-weight: 1000;
    text-transform: uppercase;
    color: var(--near-white);

    background: linear-gradient(90deg, var(--dark-blue) 0%, var(--ntt-blue) 100%);
}

#articleSection {
    position: absolute;
    top: 115vh;
    left: 5vw;

    width: 90vw;
    height: 87vh;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#mainArticle {
    width: calc(55vw - 2vh);
    margin: 2vh;
    margin-left: 0;

    background-color: white;
    border: var(--off-white) 0.25vw solid;
}

#mainArticle > .artPic {
    aspect-ratio: 2;
    width: 100%;

    background-size: cover;
    background-position: center;
}

#mainArticle > .artContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 1.1em;
}

#mainArticle > .artContent > .artTitle {
    font-size: 1.75em;
    margin-top: 0;
}

#sideArticles > .article {
    width: 30vw;
    height: 25vh;
    margin: 2vh;

    background-color: white;
    border: var(--off-white) 0.25vw solid;
}

#sideArticles > .article > .artPic {
    aspect-ratio: 1;
    height: 100%;

    background-size: cover;
    background-position: center;
    float: left;
    margin-right: 0.5vw;
}

#sideArticles > .article > .artContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-right: 0.5vw;
}

.artTitle {
    font-weight: 1000;
    color: var(--near-black);
    margin-bottom: -1vh;
}

.artText {
    color: var(--off-black);
}

.readMore {
    color: var(--dark-blue);
    font-weight: 1000;
    font-size: 1.25em;
    margin-top: -0.5em;
}

#fantasyPromo {
    position: absolute;
    left: 0;
    top: 205vh;

    width: 100vw;
    height: 40vh;

    background-position-y: 80%;
    background-size: cover;
    color: var(--near-white);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#fantasyPromo > h3 {
    text-transform: uppercase;
    font-size: 3em;
    font-style: italic;
    font-weight: 1000;
    line-height: 0.25em;
}

#fantasyPromo > p {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 0.25em;
}

#fantasyPromo > a {
    width: 20vw;
    height: 2em;
    border-radius: 0.5em;

    transform: skew(180deg);
    
    color: var(--near-white);
    background-color: rgba(34, 34, 34, 0.5);

    font-size: 1.5em;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.5s var(--quick-in);
}

#fantasyPromo > a:hover {
    width: 25vw;
    height: 2.5em;
    border-radius: 0;

    transform: skew(169deg);

    background-color: rgba(34, 34, 34, 0.75);

    font-size: 1.75em;
    font-weight: 700;
}